apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      # Prometheus lui-même
      - job_name: prometheus
        static_configs:
          - targets: ["localhost:9090"]

      # Kubernetes nodes (CPU / mémoire)
      - job_name: kubernetes-nodes
        kubernetes_sd_configs:
          - role: node
        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

      # Kubernetes pods (CPU / mémoire)
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
